@import "bootstrap.less";

html, body {
  font-size: 1em;
  line-height: 1.5em;
}

body, h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

@media (min-width: 700px) {
  .container {
    max-width: 700px;
  }
}

.navbar-default {
  font-size: 1.2em;
  font-weight: 400;
  padding-top: 10px;

  background-color: @body-bg;
  border-bottom: 0px;

  .container {
    border-bottom: 1px solid @border-color;
    padding-bottom: 10px;
  }

  .navbar-nav li a {
    color: @text-color;
    text-transform: lowercase;
    font-size: 1em;
  }

  .navbar-brand {
    color: @text-color;
    font-size: 1.3em;
    font-weight: 700;
  }
}

a:hover {
  text-decoration: none;
}

.standalone {
  padding-bottom: 1em;
}

ul {
  list-style-type: square;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  //line-height: 1.8em;
  line-height: 1.5em;
  margin-bottom: 0.6em;
}


/* Footer area */

footer {
  padding: 5em 0 5em 0;
  color: @text-shaded;
  text-align: right;
}


/* Home page listings. */

.entries {
  list-style-type: none;

  h4 {
    font-size: 1.2em;
    margin-bottom: 0.2em;
    margin-top: 0.8em;
  }

  .teaser {
    color: @text-shaded;
  }

  .date {
    font-weight: 700;
  }

  p {
    display: inline;
  }
}

/* Post page */

.post {
  //hyphens: auto;

  h2 {
    margin-top: 0;
  }

  p {
    font-size: 1.1em;
  }

  .date {
    color: @text-shaded;
    padding-bottom: 0;
    text-align: right;
  }

  ul {
    padding: 0 0 0 2em;
  }

  .captioned {
    margin: 1em 0 1em 0;
  }

  .captioned.pull-right {
    margin: 0em 0em 1em 1em;
  }

  .captioned .caption {
    font-size: 0.9em;
    margin: 0.5em 0 0 0;
    color: @text-shaded;
  }

}
